In [1]:
import numpy as np
import pandas as pd

A company started to invest in digital marketing as a new way of their product
promotions. For that they collected data and decided to carry out a study on it.

In [10]:
df = pd.read_csv(r"C:\Users\ADMIN\Desktop\case study\Sales_add.csv")
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [11]:
df.shape

(22, 5)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
Month                             22 non-null object
Region                            22 non-null object
Manager                           22 non-null object
Sales_before_digital_add(in $)    22 non-null int64
Sales_After_digital_add(in $)     22 non-null int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [13]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

# 1) The company wishes to clarify whether there is any increase in sales after stepping into digital marketing
Null hypothesis - no increase in sales after stepping into digital marketing
Alternative hypothesis - increase in sales after stepping into digital marketing

In [14]:
from scipy.stats import ttest_ind

In [15]:
ttest,p_value = ttest_ind(df['Sales_After_digital_add(in $)'],df['Sales_before_digital_add(in $)'])

In [16]:
p_value

2.614368006904645e-16

In [22]:
if p_value<0.5:
    print('Reject Null Hypothesis')
else:
    print('Accept Null hypothesis')

Reject Null Hypothesis



Rejecting the null hypothesis and accepting the alternate hypothesis

Ans ) So in sales generated after the company started investing in Digital Marketing

# 2
The company needs to check whether there is any dependency between

thefeatures “Region” and “Manager”.

Null hypothesis - No dependancy betwen the features 'Region' and' Manager'
Alternative Hypothesis - there is dependancy betwen the features 'Region' and' Manager'

In [23]:
from scipy.stats import chi2_contingency

In [24]:
cross_tab = pd.crosstab(df['Region'], df['Manager'])
cross_tab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [25]:
chi2_contingency(cross_tab)

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [26]:
chi2_stat,pvalue1,dof,exp = chi2_contingency(cross_tab)

In [27]:
pvalue1

0.5493991051158094

In [28]:
if pvalue1<0.5:
    print('Reject Null Hypothesis')
else:
    print('Accept Null hypothesis')

Accept Null hypothesis

Ans ) We are accpting the Null hypothesis here so there is No dependancy betwen the features 'Region' and' Manager'